@font-face {
	font-family: 'iconminia';
	src:url('/upload/assets/fonts/iconminia.eot');
	src:url('/upload/assets/fonts/iconminia.eot?#iefix') format('embedded-opentype'),
		url('/upload/assets/fonts/iconminia.woff') format('woff'),
		url('/upload/assets/fonts/iconminia.ttf') format('truetype'),
		url('/upload/assets/fonts/iconminia.svg#iconminia') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconminia';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-file-upload {
	font-family: 'iconminia';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-file-upload:before {
	content: "\e000";
}
